*~
*.o
*.log
*.png
intermediate_*
build/*
output/*
Makefile
src/doc/capg.config
src/doc/vc.config
src/config/config.h
dgfparser.log
data/tumor_parameter.txt
data/sphere/test.cpp
data/sphere/triceratops.off
data/sphere/raw_data/count*
data/test_video/*
old_code/*
GPATH
GRTAGS
GTAGS
u.dgf
u_app.dgf
u_exact.dgf
u_rhs_les.dgf
w.dgf
w_app.dgf
w_exact.dgf
w_rhs_les.dgf
surface.dgf
surface_app.dgf
surface_exact.dgf
surface_rhs_les.dgf
				