*~
*.o
*.log
*.png
bin/*
lib/*
obj/*
debug/*
output/*
Makefile
src/config/config.h
dgfparser.log
data/sphere/test.cpp
data/sphere/triceratops.off
data/sphere/raw_data/count*
data/test_video/*
old_code/*